<% provide(:title, "About") %>
<h1>About</h1>
<p>
	 Cortez was originally created for a Senior Design project at the University of Kansas. The project was intended to help learn Ruby, database, and Android development skills so the creators could graduate college and get software engineering jobs (and for some of them, begin paying off years and years of student loans). 

	 <h2> About the Developers </h2>

	 <b> Roxanne Calderon </b><br>
	 Roxanne comes from a small town in Kansas where most people grew up to be farmers. She is a basically a cat lady and her interests include both plants and animals. <br>
	 She will begin her career at Cerner post-graduation.<br><br>

</p>