<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
To best contact us, reach out to one of the members through email: 
<br> <b> Roxanne Calderon: </b> rox.j.calderon@gmail.com <br>

<br>
Currently, all of our work is done remotely, so we have no physical address!
</p>