<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
	<a href="#overview"> What is Cortez? </a> <br>
	<a href="#clients"> Who is Cortez for? </a> <br><br>
	<strong> WEB </strong> <br>
	<a href="#location"> Why can't I use the map to click on locations? </a> <br>
	<a href="#browser"> What browser to you recommend for Cortez? </a> <br><br>

	<strong> MOBILE </strong> <br>
	<a href="#mplatforms"> What mobile platforms is Cortez available for? </a> <br>
	<a href="#getapp"> How can I get the Cortez mobile app? </a> <br>

	<br> <br>
	<div id="overview"> <strong>What is Cortez?</strong><br>
	Cortez is a web and mobile app suite that allows dynamic map making and tagging with certain images, pictures, video or sound.</div>
	<br> 
	<div id="clients"> <strong>Who is Cortez for?</strong><br>
	Cortez has many potential users! Museum curators or trail guides could use this app to create a more interactive experience for their visitors! Personal useage, through private maps could also enhance a day to day experience. </div>
	<br>
	<div id="location"> <strong>Why can't I use the map to click on locations?</strong><br>Please check to ensure that your web is allowing the location services to be activated.<br>
	<b> Chrome </b> 
	<ul><li> Open the Settings Menu </li>
		<li> At the bottom, click "Show Advanced Settings"</li>
		<li> Under "Privacy" click "Show Content Settings"</li>
		<li> Find the "Location" subheading
		<li> Either click "Allow all sites to track your physical location" or add the Cortez website under "Manage exceptions..>"</div>
	<br>
	<div id="browser"> <strong>What browser do you recommend for map creation?</strong><br>We recommend using Google Chrome.<br> <br>

	<div id="mplatforms"> <strong>What mobile platforms is Cortez available for?</strong><br>
	The Cortez mobile app is currently being developed for Android. </div>
	<br>
	<div id="getapp"> <strong>How can I get the Cortez mobile app?</strong><br>
	Currently, the Cortez app is still in development mode. <a href="contact">Contact us </a> if you would like to help test out this trial version of the app! </div>
	<br>

</p>