<% provide(:title, "Home") %>
  <h1 style="text-align:left;">Welcome to Cortez</h1>

<div class="center jumbotron">
<h2> Cortez is a map-based adventure enhancement app! You can upload text, images, sound, or video and place them on a selected piece of map! Try it out now or make an account!</h2>

  <%= link_to "Start Your Adventure!", maps_path, class: "btn btn-lg btn-primary homebutton" %>
  <%= link_to "    Sign up now!     ", signup_path, class: "btn btn-lg btn-primary homebutton" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            '#' %>
