<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Cortez</h1>

  <h2>
    &ltINSERT MEANINGFULL TEXT&gt
  </h2>

  <%= link_to "Start Your Adventure!", maps_path, class: "btn btn-lg btn-primary homebutton" %>
  <%= link_to "    Sign up now!     ", signup_path, class: "btn btn-lg btn-primary homebutton" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            '#' %>
