<h1>Editing Audio</h1>

<%= render 'form' %>

<%= link_to "Back", map_pin_editmedia_path(:pin_id => @pin.id, :map_id => @map.id), class: "btn btn-primary" %>
<%= link_to 'Destroy', [@map,@pin,@audio], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %> 
