<%= form_for @map do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.fields_for :pin do |p| %>   
        <div class="field">
            <%= p.label :latitude %><br>
            <%= p.text_field :latitude, class: 'form-control' %>
        </div>
        <div class="field">
            <%= p.label :longitude %><br>
            <%= p.text_field :longitude, class: 'form-control' %>
        </div>
        <div class="field">
            <%= p.label :address %><br>
            <%= p.text_field :address, class: 'form-control' %>
        </div>
        <div class="field">
            <%= p.label :name %><br>
            <%= p.text_field :name, class: 'form-control' %>
        </div>
        <div class="field">
            <%= p.label :description %><br>
            <%= p.text_field :description, class: 'form-control' %>
        </div>
        <div class="actions">
            <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
    <% end %>
<% end %>   
