<!DOCTYPE html>
<html>
<head>
<title>Cortez</title>
</head>
<!--	<div class = "cort-header"> 
		<h2>
			<img style='width: 4%;' src="/images/logo.png" alt="logo">
			Cortez
		</h2>
	</div> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cortez</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
      <li><a href="#">Home</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">About Us</a></li> 
    </ul>
  </div>
</nav>

<div class = "container text-center">

<div class="jumbotron">
<h1> Welcome to Cortez<h1> 
</div>
<h3>Cortez is a design suite for interactive adventures; it is a web/mobile app 
that allows you to create/view location-based info for exploring!</h3>


<ul class="list group">
  <li class="list-group-item">You use this website to place a location onto the map.</li>
  <li class="list-group-item">You can set this pin to do something super cool when you reach the location in real life!</li>
  <li class="list-group-item">Once you have your pin all ready to go, simply open the app on your phone and get started!</li>
</ul>

<!--a href='maps' class="btn btn-primary">Start Your Adventure</a-->
<%= link_to "Start Your Adventure", 'pins', class: "btn btn-success active"  %>


</div>
</html>