<h1>Editing Picture</h1>

<%= render partial: 'form', :locals => {:action_string => "Update Picture"} %>

<%= link_to "Back", map_pin_editmedia_path(:pin_id => @pin.id, :map_id => @map.id), class: "btn btn-primary" %>
<%= link_to 'Destroy', [@map,@pin,@picture], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %> 
